In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests
import math

In [3]:
f = open("/Users/rebekahzhou/Downloads/test1.html", 'r')
soup = BeautifulSoup(f, "lxml")
soup

<html>
<head><title>Table Example</title></head>
<body>
<table>
<caption id="summary">Summary Table</caption>
<tr>
<th>Item</th>
<th>Quantity</th>
</tr>
<tr>
<td>Apples</td>
<td>10</td>
</tr>
</table>
<table>
<caption id="details">Details Table</caption>
<tr>
<th>Date</th>
<th>Event</th>
</tr>
<tr>
<td>2024-08-01</td>
<td>Meeting</td>
</tr>
</table>
</body>
</html>

In [4]:
details = soup.find('caption', id='details')
details.parent

<table>
<caption id="details">Details Table</caption>
<tr>
<th>Date</th>
<th>Event</th>
</tr>
<tr>
<td>2024-08-01</td>
<td>Meeting</td>
</tr>
</table>

In [5]:
trs = soup.find_all('tr')
ans = []
for tr in trs[0:3:2]:
    ths = tr.find_all('th')
    arr = []
    for th in ths:
        arr.append(th.get_text())
    ans.append(arr)
ans

[['Item', 'Quantity'], ['Date', 'Event']]

In [6]:
text = """
<!DOCTYPE html>
<html>
    <div id="product-info" class="product featured" data-category="electronics"
    data-price="499.99" style="background-color: #f9f9f9;">
        <h2>Smartphone X</h2>
        <p>Latest model with advanced features.</p>
    </div>
</html>
"""

In [7]:
soup = BeautifulSoup(text, "lxml")
soup

<!DOCTYPE html>
<html>
<body><div class="product featured" data-category="electronics" data-price="499.99" id="product-info" style="background-color: #f9f9f9;">
<h2>Smartphone X</h2>
<p>Latest model with advanced features.</p>
</div>
</body></html>

In [8]:
div = soup.find('div', id='product-info')
div.attrs

{'id': 'product-info',
 'class': ['product', 'featured'],
 'data-category': 'electronics',
 'data-price': '499.99',
 'style': 'background-color: #f9f9f9;'}

In [9]:
shopping_list = """
<html>
<head><title>Shopping List</title></head>
<body>
    <h1>Shopping List</h1>
    <section id="items">
        <ul>
            <li class="category" data-category="fruit">Apple</li>
            <li class="category" data-category="vegetable">Carrot</li>
            <li class="category" data-category="fruit">Banana</li>
            <li class="category" data-category="dairy">Milk</li>
            <li class="category" data-category="fruit">Orange</li>
        </ul>
    </section>
    <footer>
        <p>Contact us at support@example.com</p>
    </footer>
</body>
</html>
"""

In [10]:
soup = BeautifulSoup(shopping_list, 'html.parser')
soup

<html>
<head><title>Shopping List</title></head>
<body>
<h1>Shopping List</h1>
<section id="items">
<ul>
<li class="category" data-category="fruit">Apple</li>
<li class="category" data-category="vegetable">Carrot</li>
<li class="category" data-category="fruit">Banana</li>
<li class="category" data-category="dairy">Milk</li>
<li class="category" data-category="fruit">Orange</li>
</ul>
</section>
<footer>
<p>Contact us at support@example.com</p>
</footer>
</body>
</html>

In [11]:
section = soup.find('section', id='items')
lis = section.find_all('li', attrs={'data-category': 'fruit'})
lis

[<li class="category" data-category="fruit">Apple</li>,
 <li class="category" data-category="fruit">Banana</li>,
 <li class="category" data-category="fruit">Orange</li>]

cat filename: show entire file
head fillename: show the first n lines of code
tail fillename: show the last n lines of code
wc -c (bytes) -l (lines) -m (chars) -w (words)
grep -i (case insensitive) -n (display line numbers) -v (exclude) -c (count)
grep -c "^$" count num of empty lines
grep -A 3 (matching line + 3 that follow) -B 3 (match + 3 that precede) -C (both)
tr (translate or delete chars) -d (delete) -s (squeeze)
tr "\n" " " (new lines into spaces)
tr -d "\r" | grep -v "^$" (clean empty lines)
sort (alphabetically) -n (numerically) -r (reverse)
uniq (unique lines) -c 
cut -d ',' -f 2 (separates via ',' then grabs the 2nd separation)
sed 's/old_string/new_string/g' (s = sub, g = global)
paste -d ',' file1.txt file2.txt (combines with ,)

cat dataset.txt | grep -C 3 item49 (grep -C 3 item49 dataset.txt)
grep -v 'out of stock'
cat list.txt | grep 'done$' (only the lines that end with the word ”done”. )
grep -v 'out of stock' inventory.txt > tmp.txt && cat tmp.txt > inventory.txt
sed '/end/q' file.txt (You have a file named ”file.txt” with 100 lines of text, but you want to see all lines that come before the line that contains the word ”end”. Which command should you use?)

CI means (350,356),CI median (140,110)
CI means (271,360),CI median (118,120)
cat means_median.txt | cut -d ' ' -f 3,5 | tr -d '[()CI ]' | cut -d ',' -f 1,3,4
350,140,110
271,118,120

"orange, banana and apple","sugar, salt and pepper" to orange, banana and apple:sugar, salt and pepper
cat ingredients.txt | sed 's/","/:/g' | tr -d '\"'

cat content.txt | tr '\n' ',' | sed 's/,$//g' (remove , at the end)

Results Group A:
Mean (74,79), Median (68,72)
Results Group B:
Mean (65,70), Median (60,65)
Results Group C:
Mean (90,95), Median (85,89)
cat trainlogs.txt | sed 's/Results //g' | tr '\n' ' ' | sed 's/) /)\n/g'
Group A: Mean (74,79), Median (68,72)
Group B: Mean (65,70), Median (60,65)
Group C: Mean (90,95), Median (85,89)

echo "I\tLove\tNY" | cut -f 3 (returns NY)

In [12]:
def square(x):
    return x * x
nums = [1, 2, 3, 4]
result = map(square, nums)
print(list(result))

[1, 4, 9, 16]

In [13]:
def add(x, y):
    return x + y
num1 = [1, 2, 3]
num2 = [4, 5, 6]
result = map(add, num1, num2)
print(list(result))

[5, 7, 9]

In [14]:
result = map(lambda x: x * x, num1)
list(result)

[1, 4, 9]

In [15]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(d)
ser

a    1
b    2
c    3
dtype: int64

In [16]:
ser.index

Index(['a', 'b', 'c'], dtype='object')

In [17]:
ser.values

array([1, 2, 3])

In [18]:
ser.filter(['a', 'c'])

a    1
c    3
dtype: int64

In [19]:
df = pd.read_csv("~/Downloads/police.csv")
df.head()

,ID Reference Number,Subject's race,Subject's gender,Subject's age,Ethnicity,District of occurrence,Adjacent to School,Assigned Division,Assigned Bureau,Event Date/Time
0,1,Asian,Male,43,NON-HISPANIC,6.0,0,TOD,FSB,1/1/2021 1:07
1,2,Black/African American,Male,23,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
2,3,Black/African American,Male,18,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
3,4,Black/African American,Male,21,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
4,5,White,Female,38,HISPANIC,4.0,0,TOD,FSB,1/1/2021 3:00

In [20]:
df['Subject\'s age'].where(lambda x: x < 98).dropna()

0        43.0
1        23.0
2        18.0
3        21.0
4        38.0
         ...
23505    30.0
23506    60.0
23507    22.0
23508    25.0
23509    24.0
Name: Subject's age, Length: 23502, dtype: float64

In [21]:
def get_initials(name):
    first_last = name.split()
    return f"{first_last[0][0]}. {first_last[1][0]}."
names = pd.Series(['Alice Smith', 'Bob Johnson', 'Charlie Brown'])
names.apply(get_initials)

0    A. S.
1    B. J.
2    C. B.
dtype: object

In [22]:
scores = pd.Series([88, 42, 79, 95, 61])
s_min = scores.min()
s_max = scores.max()

scores.apply(lambda x: (x - s_min) / (s_max - s_min))

0    0.867925
1    0.000000
2    0.698113
3    1.000000
4    0.358491
dtype: float64

In [23]:
def pass_or_fail(grade):
    if grade >= 60:
        return 'Pass'
    else: 
        return 'Fail'
scores.apply(pass_or_fail)

0    Pass
1    Fail
2    Pass
3    Pass
4    Pass
dtype: object

In [24]:
scores[scores % 2 == 0]

0    88
1    42
dtype: int64

In [25]:
def classify_age(age):
    if age >= 65:
        return "Senior"
    if age >= 20:
        return "Adult"
    if age >= 13:
        return "Teenager"
    else:
        return "Child"

df['Subject\'s age'].apply(classify_age)

0           Adult
1           Adult
2        Teenager
3           Adult
4           Adult
           ...
23505       Adult
23506       Adult
23507       Adult
23508       Adult
23509       Adult
Name: Subject's age, Length: 23510, dtype: object

In [26]:
data = pd.Series([5, 15, 25, 35, 45, 55, 65, 75, 85, 95])
data[2:7][data[2:7] < 60]

2    25
3    35
4    45
5    55
dtype: int64

In [27]:
data = pd.Series(range(1, 21))
data[0::3]

0      1
3      4
6      7
9     10
12    13
15    16
18    19
dtype: int64

In [29]:
data[5::2]

5      6
7      8
9     10
11    12
13    14
15    16
17    18
19    20
dtype: int64

In [40]:
bees = pd.Series([True, True, False, np.nan, True, False, True, np.nan])
knees = pd.Series([5,2,9,1,3,10,5,2], index = [7,0,2,6,3,5,1,4])

null_bees = bees[bees.isna()]
null_bees.index
knees[null_bees.index] = knees[null_bees.index] * 2
knees

7    10
0     2
2     9
6     1
3     6
5    10
1     5
4     2
dtype: int64

In [41]:
asking_prices = pd.Series([5000, 7600, 9000, 8500, 7000],
index=['civic', 'civic', 'camry', 'mustang', 'mustang'])
fair_prices = pd.Series([5500, 7500, 7500], index=['civic', 'mustang', 'camry'])
ans = []
i = 0
for index, v in asking_prices.items():
    print(i, index, v)
    if v <= fair_prices[index]:
        ans.append(i)
    i += 1
ans

0 civic 5000
1 civic 7600
2 camry 9000
3 mustang 8500
4 mustang 7000

[0, 4]